.block {
    clear: both;
    margin: 20px;
    margin-top: 0;
    margin-right: 0;
}
.block-content {
    background: #BFBEB3;
    min-height: 20px;
}
/*
#content img {
    max-width: 100% !important;
    height: auto !important;
}
*/
.block-content img {
    display: block;
    margin: 0 auto;
}
.block-description {
    background: #000;
    box-sizing: border-box;
    min-height: 52px;
    padding: 10px;
    position: relative;
}
.block-description:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #000;
    position: absolute;
    left: 20px;
    top: -10px;
    z-index: 2;
}
.block-description .fa {
    font-size: 30px;
    float: left;
    padding: 0.25em;
}
.block-description p {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
}
.block-description p.icon_text {
    margin-left: 50px;
}