@font-face {
 font-family: 'Bliss';
 src: url('../fonts/bliss/blsw-rg.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bliss/blsw-rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bliss/blsw-rg.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bliss/blsw-rg.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bliss/blsw-rg.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: 400;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Bliss';
 src: url('../fonts/bliss/blsw-lt.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bliss/blsw-lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bliss/blsw-lt.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bliss/blsw-lt.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bliss/blsw-lt.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: 200;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Bliss';
 src: url('../fonts/bliss/blsw-ltit.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bliss/blsw-ltit.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/bliss/blsw-ltit.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bliss/blsw-ltit.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bliss/blsw-ltit.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: 200;
 font-style: italic;
 font-variant: normal;
}

body {
 font-family: Bliss, Arial, sans-serif !important;
 font-weight:200 !important;
}