@font-face {
 font-family: 'Foundry';
  src: url('../fonts/foundry/315F57_1_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/foundry/315F57_1_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/foundry/315F57_1_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/foundry/315F57_1_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/foundry/315F57_1_0.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Foundry';
  src: url('../fonts/foundry/315F57_0_0.eot'); /* IE9 Compat Modes */
  src: url('../fonts/foundry/315F57_0_0.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/foundry/315F57_0_0.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/foundry/315F57_0_0.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/foundry/315F57_0_0.ttf')  format('truetype'); /* Safari, Android, iOS */
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a:visited {
 font-family: Foundry, Arial, sans-serif !important;
}