@font-face {
 font-family: 'Gotham';
 src: url('../fonts/gotham/Gotham-Book.otf');
 font-weight: normal;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gotham';
 src: url('../fonts/gotham/Gotham-Bold.otf');
 font-weight: bold;
 font-style: normal;
 font-variant: normal;
}
@font-face {
 font-family: 'Gotham';
 src: url('../fonts/gotham/Gotham-BookItalic.otf');
 font-weight: normal;
 font-style: italic;
 font-variant: normal;
}
@font-face {
 font-family: 'Gotham';
 src: url('../fonts/gotham/Gotham-BoldItalic.otf');
 font-weight: bold;
 font-style: italic;
 font-variant: normal;
}
body {
 font-family: Gotham, Arial, sans-serif !important;
}