.footer__block {padding-top:34px;padding-bottom:34px;}
.footer__block .widget {padding:0 24px;margin-bottom:48px;}
.footer__block a {color:#666;text-decoration:none;}
.footer__block a:hover {color:#ea818a;}
.footer__block li {font-size: 14px;line-height:19px;margin-bottom:12px;list-style-type:none;}
.footer__block .rsswidget img {display:none;}
.footer__block h2 {color:#25597b;font-size:12px;font-weight:600;margin-bottom:12px;}
.footer__block h2 a {color:#25597b;}
.footer__block .widget_rss li {border-top:1px solid #ddd;padding-top:12px;}
.menu-footer-navigation-container li {font-size:14px;text-transform:uppercase;}
.menu-footer-navigation-container a {color:#3d3938;}
.footer__block {width:300px;padding-left:30px;padding-right:30px;float:left;}
.footer__block .widget {width:300px;}
.footer__block .title {position:relative;margin-bottom:10px;}
.footer__block .title h2 {color:#ea818a;font-size:14px;font-weight:700;text-align:left;text-transform:uppercase;position:relative;z-index:2;}
.footer__block .title:before {content:"";height:1px;position:absolute;top:10px;bottom:0;width:100%;z-index:1;}
.footer__block .title span a:link, 
.footer__block .title span a:visited, 
.footer__block .title span a:active {text-decoration:none;color:#ea818a;}
.footer-thirds {width:100%;}
.footer-thirds h4 {font-size:23px;margin-top:25px;margin-bottom:10px;}
.footer h2 {font-size:23px;margin-top:25px;margin-bottom:20px;}
.footer-block-third {width:380px;margin-right:10px;height:auto;position:relative;float:left;}
.footer-block-third img {display:block;margin-left:auto;margin-right:auto;}
.footer-block-twothird {width:660px;height:200px;margin-right:10px;position:relative;float:left;margin-left:100px;}
.footer-end {margin-right:0px !important;}
.footer__menu {padding-top:24px;padding-bottom:48px;background:#cd6c43;}
.footer__menu .widget {padding:0 24px;margin-bottom:24px;}
.footer__menu a {color:#fff;text-decoration:none;}
.footer__menu a:hover {border-bottom:1px solid #fff;border-color:rgba(255, 255, 255, 0.25);}
.footer__menu .menu li {font-size:14px;margin-top:10px;}
.footer__menu .menu-item-has-children {font-size:14px;font-weight:600;line-height:17px;}
.footer__menu .sub-menu li {font-weight:400;}
footer {background:#5578bb;color:#fff;}
footer .wrapper {padding:10px;}
footer .editor h2 {font-size:22px;line-height:26px;}
footer .editor p {font-size:14px;line-height:18px;margin-bottom:15px;}
footer .wrapper .contact-form {width:60%;margin:0 auto;margin-bottom:20px;}
footer .wrapper .contact-form .gform_wrapper div.gform_body ul.gform_fields li.gfield.gfield_html {text-align:center;}
footer .wrapper .contact-form .gform_wrapper .top_label .gfield_label {display:none;}
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield {margin-top:5px;}
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_2, 
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_3 {display:inline-block;width:50%;}
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_2 input, 
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_3 input {width:100%;border:0;line-height:30px;padding:6px 8px;}
footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield textarea {border:0;}
footer .wrapper .contact-form .gform_wrapper .gform_footer {text-align:center;}
footer .wrapper .contact-form .gform_wrapper .gform_footer input.button, 
.gform_wrapper .gform_footer input[type=submit] {margin:0 auto;background:#f96f6c;height:auto;padding:10px 30px;}
footer .wrapper .contact-form #gform_confirmation_message_1 {text-align:center;height:400px;padding-top:100px;}
footer .wrapper .contact-form .privacy-policy-link {color:#fff;text-transform:uppercase;text-decoration:none;text-align:center;display:block;}
footer .footer__copyright {background-color:#2b1f45;text-align:center;padding:2em;color:#ccc;}
footer .footer__copyright .footer-wrapper {max-width:1200px;width:100%;margin:0 auto;position:relative;}
footer .footer__copyright .footer-wrapper .bsa-logo {position:absolute;left:0;top:3px;}
footer .footer__copyright p {font-size:12px;line-height:15px;color:#fff;}
footer .footer__copyright a {color: #fff;text-decoration:none;}
footer .footer__copyright a:hover {border-color: transparent;}

footer .footer_menu {text-align:right;font-size: 12px;line-height: 15px;color: #fff;}

footer #menu-popular-pages {margin:0;}
footer #menu-popular-pages li {font-size:14px;line-height:18px;list-style-type:none;}
footer #menu-popular-pages li a {color:#342f2e;text-decoration:none;}
footer #menu-popular-pages li a:hover {text-decoration:underline;}
footer iframe#twitter-widget-0 {margin-top:16px !important;}
body .unyson-sponsors.logo-size-medium .sponsor-list-wrapper.footer-sponsors .sponsor-logo-link, body .unyson-sponsors.logo-size-medium .sponsor-list-wrapper.footer-sponsors .sponsor-no-logo {max-width:95%;background-size:contain;}
body.home footer .homepage-newsletter-signup {display:block;}
.footer__copyright__branding img {display:block;margin:20px auto;max-width:100%;}
.footer__copyright__branding a {border: none;}
@media only screen and (max-width: 1052px) {
	footer .homepage-newsletter-signup .gform_wrapper .gform_footer {float:none;margin-top:0;}
}
@media screen and (min-width: 960px) {
	.footer__copyright__branding img {margin:20px 0;}
	.footer__copyright__desc {display:inline-block;margin-right:-4px;text-align:left;width:55%;vertical-align:top;}
	.footer__copyright__legal {display:inline-block;margin-right:-4px;text-align:left;width:25%;vertical-align:top;}
}
@media screen and (min-width: 720px) {
	.footer__block .widget, .footer__menu .widget {margin-bottom:0;}
	.widget__block--2-widgets .widget {display:inline-block;margin-right:-4px;text-align:left;width:50%;vertical-align:top;}
	.widget__block--3-widgets .widget {display:inline-block;margin-right:-4px;text-align:left;width:33.33%;vertical-align:top;}
	.widget__block--4-widgets .widget {display:inline-block;margin-right:-4px;text-align:left;width:25%;vertical-align:top;}
	.widget__block--5-widgets .widget {display:inline-block;margin-right:-4px;text-align:left;width:20%;vertical-align:top;}
	.widget__block--6-widgets .widget {display:inline-block;margin-right:-4px;text-align:left;width:16.66%;vertical-align:top;}
	.footer__copyright__branding {display:inline-block;margin-right:-4px;text-align:left;width:20%;vertical-align:top;padding:0 24px;}
	.footer__copyright__desc {display:inline-block;margin-right:-4px;text-align:left;width:50%;vertical-align:top;padding:0 24px;}
	.footer__copyright__legal {display:inline-block;margin-right:-4px;text-align:left;width:30%;vertical-align:top;padding:0 24px;}
}
@media only screen and (max-width:640px) {
	footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_2, 
	footer .wrapper .contact-form .gform_wrapper ul.gform_fields li.gfield#field_1_3 {display:block;width:100%;}
	footer .footer__copyright .footer-wrapper .bsa-logo {position:inherit;margin-bottom:15px;	}
	.footer-thirds {height:auto;}
	.footer-thirds .footer-block-third {width:100%;margin:0 auto;display:block;float:none;text-align:center;}
}