.editor {
	color: #808285;
	h1 {
		color: #2c2a29;
		font: {
			size:42px;
			weight:400;
		}
		line-height:50px;
		margin:0 0 10px 0;
		strong {
			color:#1d0e46;
		}
	}
	h2 {
		color: #2c2a29;
		font: {
			size:30px;
			weight:500;
		}
		line-height:40px;
		margin-bottom:15px;
		a{
			text-decoration: none;
		}
	}
	h3 {
		color:#2c2a29;
		font: {
			size:25px;
			weight:400;
		}
		line-height:30px;
		margin-bottom:10px;
	}
	h4 {
		color:#2c2a29;
		font: {
			size:20px;
			weight:400;
		}
		line-height:25px;
		margin-bottom:10px;
	}
	h5 {
		color:#2c2a29;
		font: {
			size:18px;
			weight:400;
		}
		line-height:20px;
		margin-bottom:10px;
	}
	h6 {
		color:#2c2a29;
		font: {
			size:18px;
			weight:400;
		}
		line-height:20px;
		margin-bottom:10px;
		text-transform:uppercase;
	}
	p {
		font: {
			size:18px;
		}
		line-height:24px;
		margin:0 0 20px 0;
		color: #282828;
	}
	ul {
		list-style:disc;
		margin:0 30px 20px;
		color: #342f2e;
	}
	ol {
		display: block;
		color: #342f2e;
	    list-style-type: decimal;
	    margin-top: 1em;
	    margin-bottom: 1em;
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 40px;
	}
	li {
		font: {
			size:18px;
		}
		line-height:24px;
	}
	em, i {
		font-style:italic;
	}
	strong, b {
		font-weight:600;
	}
	a, a:active, a:visited {
		color:#dc582a;
	}
	a:focus {

	}
	a:hover {
		text-decoration:none;
	}
	.alignright {
		float: right;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.alignleft{
		float: left;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.aligncenter {
		margin-bottom: 10px;
		display: block;
		text-align: center;
		margin: 0 auto;
	}
}

@include mobile_only_style(){
	.editor{
		h1{
			font-size: 30px;
			line-height:30px;
		}

	}
}