// Sponsor Shortcodes
@mixin sponsor_logo_size($name, $width, $height, $max_width){
	.unyson-sponsors.logo-size-#{$name}  { 
		.sponsor-list-wrapper{
			.sponsor-logo-link, 
			.sponsor-no-logo { 
				width: $width !important;   
				height: $height !important; 
				background-color: #fff;
				background-size: contain;
				margin: 2px !important;
				max-width: $max_width;
			}
		}
	}
}


@include bp(640) {

	body  {
		@include sponsor_logo_size('tiny', 80px, 50px, 19%);
		@include sponsor_logo_size('small', 138px, 80px, 24%);
		@include sponsor_logo_size('medium', 180px, 100px, 32.33%);
		@include sponsor_logo_size('large', 272px, 130px, 49%);
		@include sponsor_logo_size('giant', 380px, 170px, 49%);
	}

}

.sponsor-widget--rotate-wrap{
	width: 100% !important;
}
.sponsor-list-wrapper .sponsor-logo-link, .sponsor-list-wrapper .sponsor-no-logo,
body .unyson-sponsors.logo-size-large .sponsor-list-wrapper .sponsor-logo-link, 
body .unyson-sponsors.logo-size-large .sponsor-list-wrapper .sponsor-no-logo{
	border: none;
}

.sponsor-list-wrapper .full-sponsor{
	.sponsor-thumb{
		img{
			height: auto;
			max-width: 100%;
			width: inherit;

		}
	}
}




// Mobile Version and Up
body .unyson-sponsors .sponsor-list-wrapper.excerpt{
	*{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.full-sponsor{
		margin-bottom: 20px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
		.content-left{
			display: block;
			clear: none;
			float: none;
			width: 90%;
			text-align: center;
			.sponsor-thumb{
				border: none;
				padding: 0px;
			}
			.view-site{
				background: none;
				color: #cd6c43;
				text-decoration: none;
			}
		}
	}
}


@include bp(640) {
	body .unyson-sponsors{
		.sponsor-list-wrapper.excerpt{
			*{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.full-sponsor{
				float: left;
				width: 50%;
				border-bottom: none;
				border-top: 1px solid #ddd !important;
				padding-top: 20px; 
				margin-bottom: 0px;
				padding-bottom: 0px;
				margin-top: 20px;
				.content-left{
					width: 40%;	
					float: left;
				}
				.content-right{
					width: 60%;
					float: left;
					padding: 5px;
					h3{
						text-decoration: none;
						text-transform: none;
						font-size: 1.6em; 
						font-weight: bold;
						a:link,
						a:active,
						a:visited{
							color: #222;
							text-decoration: none;
							font-weight: bold;
							text-decoration: none;
						}
					}
					p{
						font-size: 1.3em;
						a:link,
						a:visited,
						a:active{
							margin-top: 20px;
							display: block;
							font-weight: bold;
							text-decoration: none;
						}
					}

				}
				// Remove the border from the top of the first two elements
				&:first-child,
				&:nth-child(2){
					border: none !important;
					margin-top: 0px;
				}

				// Ensure every other element starts on a new line, clearing the sponsor above 
				&:nth-child(2n+1){
					clear: both;
					// add a little padding to the right of the content boxes
					.content-right{
						padding-right: 20px;
					}
				}
			}
		}
	}
}



/////// SPONSOR DETAILS

@include bp(640) {
	.sponsor-thumb{
		float: right;
		margin-left: 20px;
	}
}