.navigation-tabs{
  list-style: none;
  margin: 0px 0px 20px !important;
  li{
    list-style: none;
    display: inline-block;
    width: 96%;
    margin: 0px 0px 5px;
    a,
    a:link,
    a:visited,
    a:active{
      font-size: 12px;    
      padding: 10px 5px;
      display: block;
      background: #CD6C43;
      text-decoration: none;
      color: #fff;
      &.active{
        position: relative;
        background: #ED963A;
        color: #fff;
      }
      a:focus,
      a:hover{
        background: #91492A;
      }
    }
  }
}

@include bp(640) {
  .navigation-tabs{
    li {
      width: 47%;
      margin: 0px 0.5% 5px;
      a,
      a:link,
      a:visited,
      a:active{
        font-size:13px;
      }
    }
  }
}


@include bp(960) {
  .navigation-tabs{
    li {
      padding: 1px;
      width: auto;
      margin: 0px;
      a,
      a:link,
      a:visited,
      a:active{
        font-size:13px;
        display: inline-block;
        &.active{
          position: relative;
          background: #ED963A;
          color: #fff;
          &:before{
            content: "";
            position: absolute;
            bottom: -3px;
            height: 3px;
            left: 0px;
            right: 0px;
            background: #ED963A;
          }
        }
      }
    }
  }
}

.sem-session-excerpt {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 90%;
  line-height: 1.3333333333em;
  color: #444;
}

.sem-session-excerpt li {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 90% !important;
  line-height: 1.3333333333em;
  color: #444;
}

.sem-shortcode-title{
  background: #1d78b4;
  color: #fff !important;
  font-weight:bold;
  padding: 4px;
  display: block;
}

.programme{
  clear: both;
  .seminar{
    border-top: 1px solid #363636;
    margin: 0px 0px;
    padding: 20px 5px;
    position: relative;
    .session-time{
      display: block;
      float: left;
      width: 130px;
      margin-bottom: 5px;
      font-size: 15px;
      color: #363636;
      position: absolute;
      top: 0px;
      bottom: 0px;
      padding: 10px 0px;
      line-height: 25px;
      font-weight: bold;
    }

    h4.session-title{
      font-weight: bold !important;
      border: none !important;
      font-size:16px;
      margin-bottom: 5px;
      line-height: 25px;
      &:last-child{
        margin: 0px;
      }
    }
    .session-meta{
      font-size:12px;
      margin-bottom: 15px;
      display: block;
    }
    .entry-content{
      clear: none !important;
      padding-left: 130px;
      display: block;
    }
    .sem-role-title{
      clear: left;
      font-weight: bold;
      font-family: Roboto, Arial, Helvetica, sans-serif;
    }
    .sem-role-title{
    	color: #555;
    	margin-bottom: 0px;
    }
    .clear{
      clear: left;
    }
    .speaker-for-session ul.shortcode-speakers{
      margin: 0px 0px 0px 0px !important;
      .speaker{
        clear: left;
        padding-left: 5%;
        .speaker-thumb{
          margin-right: 10px;
          float: left;
        }
        .speaker-full-name{
          text-decoration: none;
          font-weight: bold;
        }
        .full-name{
          font-size:13px;
          margin: 0px;
        }
        .speaker-job-title{
          font-style: italic;
        }
        .speaker-company-name{
          font-weight: bold;
        }
      }
    }
  }
  .seminar:first-child{
    padding-top: 20px;
  }
  .seminar.highlight{
    padding: 10px;
  }
}
table tr td .seminar{
    margin: 0px;
  
}

.editor .session-title a, .editor .session-title a:active, .editor .session-title a:visited {
	color:#363636;
}

.speaker-for-session {
  ul.shortcode-speakers{
    list-style: none !important;
    margin: 0px;
    li.speaker-line{
      list-style: none !important;
      margin: 0px; 
      clear: left;
      padding: 3px 0px;
      .position{
        display: block;
        font-size:12px;
        line-height:1.4em;
        .speaker-job-title{
          font-family: Roboto, Arial, Helvetica, sans-serif;
        }
        .speaker-company-name{
          font-weight: bold;
        }
      }
      .speaker-photo{
        float: left;
        border: none;
        padding: 0px;
        margin-right: 15px;
        img{
          padding: 2px;
          max-width: 48px;
          width: auto;
          height: auto;
          margin: 0px;
          width: auto;
           -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
        }
      }
    }
  }
}



body.single-seminars{
  .speaker-for-session ul.shortcode-speakers{
    margin-left: 45px;
  }
  .back-btn{
    color:$orange;
    cursor: pointer;
  }
}