.widget.widget_rss {
	ul {
		list-style: none;
		margin: 0px;
		li{
			margin-bottom: 10px;
			a:link,
			a:visited,
			a:active{
				color: #666;
				text-decoration: none;
			}
			a:focus,
			a:hover{
				color:$blue--dark;
			}
			.rssSummary{
				display: none;
			}
		}
	}
}