.speakers--wall {
	@include wrap();
	margin:0 auto;
	max-width:1200px;
}

.speakers--wall {
	background:rgb(53, 132, 182);	
	//margin:-24px; // offset column padding
}

.editor {
.speaker__excerpt--wall {
	@include grid(33.33);
	background: {
		color:$grey;
		position:center center;
		repeat:no-repeat;
		size:cover;
	}
	position:relative;
	&:after {
		content:"";
		display:block;
		padding-top:100%;		
	}
	&:before {
		content:"";
		display:block;
		position:absolute;
			top:0;
			left:0;
		height:100%;
		width:100%;
		background:rgba(216, 216, 216, 0.3);
		background:rgba(53, 132, 182, 0.3);
	}
	.speaker__content {
		background:$blue--dark;
		background:rgba(1, 34, 70, 0.8);
		position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
		opacity:0;
		transition:all 0.4s;
		visibility:hidden;
		a {
			color:$white;
			display:block;
			height:100%;
			padding:5%;
			text: {
				decoration:none;
			}
		}
		&.final_clicktrough{
			opacity: 1;
			line-height: 200px;
			visibility: visible;
			padding: 10px;
			font-size: 18px; 
		}
	}

	h3 {
		color:$white;
		font:{
			size:15px;
			weight:500;
		}
		line-height:17px;
		text-transform:none;
	}
	p {
		font-size:13px;
		line-height:19px;
	}
}
}

@include bp(360) {

	.editor {
		.speaker__excerpt--wall:hover {
			.speaker__content {
				opacity:1;
				visibility:visible;
			}
		}
	}

}

@include bp(480) {

	.editor {
		.speaker__excerpt--wall {
			@include grid(25);
		}
	}

}

@include bp(720) {

	.editor {
		.speaker__excerpt--wall {
			@include grid(16.66);
		}
	}

}

@include bp(960) {

	.editor {
		.speaker__excerpt--wall {
			@include grid(12.5);
		}
	}

}

