.fw-page-builder-content{
	// .unyson-bxslider-wrapper > .fw-col-xs-12 {
	// 	padding: 0px !important;
	// }
	.unyson-bxslider-wrapper{
		display: block;
		.bx-wrapper{
			position: relative;
			box-shadow: none;
			border: none;
			padding: 0px;
			margin-bottom: 0px;
			.unyson-slide{
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				line-height: 0px;
				img{
					text-align: center;
					line-height: 0px;
					width:100%;
					height: auto;
					margin: 0 auto;
				}
			}
	
			.bx-viewport{
				background: none;
			}

			.bx-controls{
				z-index: 99;
				.bx-pager{
					position: absolute;
					right: 0px;
					bottom: 20px;
					left: 0px;
					text-align: center;
					div.bx-pager-item{
						margin: 0 5px 0 0 !important;
						text-indent: -9999px !important;
						display: inline-block;
						margin: 0px 5px;
						a:link,
						a:visited,
						a:active{
							-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							border-radius: 10px;
							height: 16px;
							width: 16px;
							text-align: center;
							text-indent: -9999px !important;
							height: 10px;
							width: 10px;
							background: #90c2c2;
							display: block;
							opacity: 0.6;
							&.active{
								background: #fff;
							}
						}
						a:hover,
						a:focus{
							opacity: 1;
						}
					}
				}
				.bx-controls-direction{
					a.bx-prev,
					a.bx-next{
						position: absolute;
						outline: 0;
						text-indent: -9999px;
						z-index: 60;
						background: url('../img/arrow-left.png') no-repeat center;
						height: 50px;
						width: 50px;
						opacity: 0.6;
						text-indent: -1000;
						display: block;
						overflow: hidden;
						top: 40%;
						left: 3%;

						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						border-radius: 50%;
						
						background-color: rgba(255,255,255,0.4);
						&:hover{
							opacity: 1;
						}
					}
					a.bx-next{
						background-image: url('../img/arrow-right.png');
						right: 3%;
						left: auto;
					}
				}
			}
		}
	}

}