* {
	@include boxmodel();
}

body, html {
	overflow-x:hidden;
	width:100%;
}

body {
	background:#FFF;
	font-family: 'Montserrat', sans-serif;
	@include fontsmooth();
	padding:0;
}

.wrapper {
	margin:0 auto;
	max-width:1200px;
	width:100%;
}

.editor p br{
	display: block;
}

img{
	max-width: 100%;
	width: auto;
	height: auto;
}