body.single-exhibitors{
	#exhibitor-single-logo{
		margin-right: 20px;
		float:right;
	}
	#exhibitor-single-name{
		color: #58595b;
		font-size: 32px;
		line-height: 24px;
		font-weight: 400;
		padding-bottom:10px;
	}
	div#exhibitor-social-links{
		margin-bottom: 20px;
		@include clearfix();
		a{
			background-color:#5a5b5d ;
			color: #fff;
			text-decoration: none;
			&:hover{
				background: #0082B2;
			}
		}
	}
	div#exhibitor-single--contact-info {
		display: inline-block;
		width:65%;
		padding-top:30px; 
		padding-bottom:20px;
		h4.exhibitor-single--categories{
			color: #90c2c2;
			margin-bottom: 10px;
			font-size: 18px;
		}
	}
	#exhibitor-single--exhibitor-bio{
		p:first-of-type{
			/*display:none;*/
		}
		p,
		li,
		td{
			font-size: 16px;
		}
	}
}
body.single-exhibitors div#exhibitor-single--contact-info h4.exhibitor-single--categories{
    color: #90c2c2;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 25px;
}